@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norsebold-webfont.woff2') format('woff2'),
         url('./fonts/norsebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.container {
    display: flex;
    min-width: 1200px; 
    min-height: 900px;  
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}


/* Image Section */

#image-container {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    width: 50rem;
    background-image: url(./images/background_image.jpg);
    
    background-size: cover;
    
}

    

#logo-container {
    background-color: rgba(0, 0, 0, 0.39);
    font-family: 'norsebold', Arial, Helvetica, sans-serif;
    padding: 1rem;
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
#logo {
    width: 5rem;
}

#credit-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
    padding-bottom: 1rem;
    flex-grow: 1;
}

#credit-container, #credit-container a {
    color: white;
}



    

/* Form section  */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

#content-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-info , #form-header, #form-actions {
    padding: 3.5rem;
}



#form-info {
    background-color: white;
    box-shadow: 0 0.9rem 0.5rem -0.6rem  rgba(54, 54, 54, 0.288) ;
    
}
#form-info > p {
   
    font-size: 1.5em;
    
}

fieldset {
    border: none;
    display: flex;
    gap: 3rem;
}



fieldset:nth-of-type(-n+2) {
    padding-bottom: 1rem;
}



#name-info {
    margin-top: 1rem;
}
fieldset label {
    display: block;
    font-size: 0.8rem;
    color: #48494b;
}

input {
    border: solid 0.15rem #E5E7EB ;
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 20rem;
    padding: 0.5rem;
    transition: 0.2s ease-in-out;
    
}

input:focus {
    outline: none;
    border-color:  rgb(40, 40, 177) ;
    box-shadow:  2px 4px 6px rgba(0, 0, 0, 0.2)
}

input:user-invalid {
    border-color: rgb(194, 60, 60);
    box-shadow:  2px 4px 6px rgba(0, 0, 0, 0.2)
}



#form-header p {
    font-size: 1.5rem;
    margin-bottom:1rem ;
    font-weight: bold;
}


/* Form Actions */




#form-actions p {
    margin-top: 2rem;
}

#form-actions a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}
#form-actions button {
    background-color:#596D48 ;
    color: white;
    font-weight: bold;
    
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.8rem 0.1rem rgba(0, 0, 0, 0.425);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}


#form-actions button:hover {
    transform: scale(1.03);
}

footer img {

    filter: invert(16%) sepia(3%) saturate(163%) brightness(97%) contrast(84%);
    width: 2.1rem;
}

footer {
    padding-bottom: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


